@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Stack+Sans+Notch:wght@200..700&display=swap');

* { font-family: "Roboto", "Stack Sans Notch" sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.secao {
    margin: 4px;
    padding: 2px;
    border-radius: 10px;
    background-color: rgb(232, 220, 255);
}

main {
    background-color: rgb(246, 237, 252);
}

header {
    background-color: #7eb6ff;
    text-align: center;
}

header h1 {
    color:rgb(242, 246, 255);
    background-color: rgb(187, 163, 255);
}


.footer-principal {
    margin: 4px;
    padding: 2px;
    border-radius: 10px;
    color:rgb(242, 246, 255);
    background-color: rgb(187, 163, 255);

}